p {
    text-align: center; color: black;
    }
    #para1 {
    text-align: center; color: black;
    }
    .center {
    text-align: center; color: black;
}
body {
    background: white;
    font-family:"Times New Roman", Times, serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: blue;
}